#include "version.h"

1 VERSIONINFO
#if CHIMERA_BUILD>0
FILEVERSION      0,0,0,CHIMERA_BUILD
PRODUCTVERSION   0,0,0,CHIMERA_BUILD
#else
FILEVERSION      0,0,0,0
PRODUCTVERSION   0,0,0,0
#endif
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments",         "It's unfinished!"
            VALUE "CompanyName",      CHIMERA_AUTHOR
            VALUE "FileDescription",  "Chimera build " CHIMERA_BUILD_STRING
            VALUE "FileVersion",      "Build " CHIMERA_BUILD_STRING
            VALUE "InternalName",     "chimera"
            VALUE "OriginalFilename", "chimera.dll"
            VALUE "ProductName",      "Chimera"
            VALUE "ProductVersion",   "Build " CHIMERA_BUILD_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END